{% load commit_tags %}
    <h1>Commit {{ commit.hexsha|truncatechars:16 }}</h1>

    {% include "stratus/__commit.html" %}

    <ul class="commit_files">
        {% for file, values in commit.stats.files.items %}
        <li>
            {# % url commitlog-view-file repo_name branch_name commit.hexsha file % #}
            <a class="ajax" rel="contents" href="{% url stratus-view-file repo_name branch_name commit.hexsha file %}" title="{{ file }} at {{ commit.hexsha|truncatechars:6 }} commit" >
                {% if file == path %}
                <strong>{{ file }}</strong>
                {% else %}
                {{ file }}
                {% endif %}
            </a>
            {% if values.insertions %}
                <em class="insert">+{{values.insertions}}</em>
            {% endif %}
             
            {% if values.deletions %}
                <em class="del">-{{values.deletions}}</em>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
