{% load commit_tags %}
<div id="edit_{{repo_name}}_{{branch_name}}_{{ path|slugify }}">
	

	<ul class="breadcrumbs">
		<li><a href="{% url stratus-tree-view repo_name branch_name "" %}" class="ajax" rel="index" >//</a> </li>
		{% for crumb, path in breadcrumbs %}
	    <li><a href="{% url stratus-tree-view repo_name branch_name path %}" class="ajax" rel="index" >{{crumb}}</a>/</li>
		{% endfor %}
	</ul>

	<p class="file_tools">
		<a class="history ajax" rel="contents" href="{% url stratus-history-file repo_name branch_name path %}" title="'{{ path }}' history" >history</a>
		<a href="{% url stratus-get-file repo_name branch_name path %}" target="new" class="raw" title="See raw file">raw</a>
	</p>
	
	<h1>{{name}} ({{ file_meta.size|filesizeformat }}) </h1>

	{% if result_msg %}
		<h3>{{ result_msg|safe }}</h3>
	{% endif %}

	<div class="edit_file">
		
	{% if file_meta.mime_type == "text" or file_meta.mime_type == "application"  %}
	  	{% include "stratus/_edit_text.html" %}
	{% else %}
		{% if file_meta.mime_type == "image" %}
		<img width="{{ img_meta.1}}" height="{{ img_meta.2}}" src="{% url stratus-get-file repo_name branch_name path %}" />

		<!-- <small class=="img_meta" >image: "{{ img_meta.0 }}" {{ img_meta.1}}x{{ img_meta.2}}px</small> -->

		{% endif %}
		<form action="{% url stratus-edit-file repo_name branch_name path %}" method="post" enctype="multipart/form-data" class="ajax" rel="next" >
			<div>
				<input name="file_source" type="file" />
				{{ form.file_source.errors }}
			</div>
			<div class="msg">
				{{ form.message.label }}
				{{ form.message }}
				{{ form.message.errors }}
			</div>
			{% csrf_token %}
			<p><button>COMMIT</button></p>
		</form>
	{% endif %}
	</div>

	<form action="{% url stratus-delete-file repo_name branch_name path %}" method="post">
		{{ delete_form.as_p }}
		<button class="delete">DELETE</button>
	</form>
</div>

