{% load commit_tags %}
<div id="edit_{{repo_name}}_{{branch_name}}_{{ path|slugify }}">
	

	<ul class="breadcrumbs">
		<li><a href="{% url stratus-tree-view repo_name branch_name "" %}" class="ajax" rel="index" >//</a> </li>
		{% for crumb, path in breadcrumbs %}
	    <li><a href="{% url stratus-tree-view repo_name branch_name path %}" class="ajax" rel="index" >{{crumb}}</a>/</li>
		{% endfor %}
	</ul>

	<p class="file_tools">
		<a class="history ajax" rel="contents" href="{% url stratus-history-file repo_name branch_name path %}" title="'{{ path }}' history" >history</a>
		<a href="{% url stratus-get-file repo_name branch_name path %}" target="new" class="raw" title="See raw file">raw</a>
	</p>
	
	<h1>{{name}} ({{ file_meta.size|filesizeformat }}) </h1>

	{% if result_msg %}
		<h3>{{ result_msg|safe }}</h3>
	{% endif %}

	<div class="edit_file">
		
	{% if file_meta.mime_type == "text" or file_meta.mime_type == "application"  %}
	  	{% include "stratus/_edit_text.html" %}
	{% else %}
		{% if file_meta.mime_type == "image" %}
		<img src="{% url stratus-get-file repo_name branch_name path %}" width="300" />
		{% endif %}
		{% include "stratus/_edit_file.html" %}
	{% endif %}
	</div>

	<form action="{% url stratus-delete-file repo_name branch_name path %}" method="post">
		{{ delete_form.as_p }}
		<button class="delete">DELETE</button>
	</form>
</div>

