{% load commit_tags %}
<div id="view_{{repo_name}}_{{branch_name}}_{{ path|slugify }}_{{ commit.hexsha|truncatechars:16 }}">

<p class="file_tools">
	<a class="history ajax" ref="contents" href="{% url stratus-history-file repo_name branch_name path %}" title="History of '{{ path }}'">history</a>
</p>
<h1>File {{ path }} ({{ file_meta.size|filesizeformat }}) {% if commit %} at {{ commit.hexsha|truncatechars:6 }} commit {% endif %}
</h1>


{% if commit %}
{% include "stratus/_commit.html" %}
{% endif %}

{% if file_meta.mime_type == "text" or file_meta.mime_type == "application"  %}
  {% include "stratus/_view_text.html" %}
{% else %}
  {{ form.as_p }}
{% endif %}

{% if file_meta.mime_type == "image" %}
	
	<img width="{{ img_meta.1}}" height="{{ img_meta.2}}" src="data:{{ file_meta.mime }};base64,{{ img_base }}"  />
	<small class=="img_meta" >image: "{{ img_meta.0 }}" {{ img_meta.1}}x{{ img_meta.2}}px</small>
	
{% endif %}
</div>

{% if diff %}
	{% include "stratus/_diff.html" %}
{% endif %}
