{% load commit_tags %}


	<ul class="breadcrumbs">
		<li><a href="{% url stratus-tree-view repo_name branch_name "" %}" class="ajax" rel="index" >//</a> </li>
		{% for crumb in breadcrumbs %}
		<li><a href="{% url stratus-tree-view repo_name branch_name crumb.1 %}" class="ajax" rel="index" >{{crumb.0}}</a>/</li>
		{% endfor %}
		<li>{{ dir_path|last }}/</li>
	</ul>


	<ul class="list">
		{% if dir_path.0 %}
		<li><a href="{% if breadcrumbs|last %}{% url stratus-tree-view repo_name branch_name breadcrumbs|last|first %}{% else %}{% url stratus-tree-view repo_name branch_name "" %}{% endif %}" class="ajax" rel="index" >..</a>
		{% endif %}

		{% for element in tree %}
		<li class="{{ element.type }}">
			{% if element.type == "tree" %}
				<a href="{% url stratus-tree-view repo_name branch_name element.path %}" class="ajax" rel="index" title="tree '{{ element.name }}/'">{{ element.name }}/</a>
			{% else %}
				<a href="{% url stratus-edit-file repo_name branch_name element.path %}" class="ajax" rel="edit" title="'{{ element.name }}' edit" >{{ element.name }}</a>
				<small>{{ element.size|filesizeformat }}</small>

			{% endif %}
			{# <small>commit: <a href="{% url stratus-commit-view repo_name branch_name element.hexsha %}">{{ element.hexsha|truncatechars:16 }}</a></small> #}
			<a href="{% url stratus-delete-file repo_name branch_name element.path %}" class="delete ajax" rel="#messages" title="delete">x</a>
			<a href="{% url stratus-rename-file repo_name branch_name element.path %}" class="rename ajax" rel="appendix" >rename</a>
		</li>
		{% endfor %}
	</ul>
</div>
