{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
	<ul>
		<li><a href="{% url stratus-repos %}" >projects</a></li>
		{% if repo_name %}
		<li class="project">{{ repo_name }}</li>
		{% endif %}
		{% if branch_name %}

		<li>branch "<a class="ajax" rel="#pages" href="{% url stratus-tree-view repo_name branch_name "" %}"  >{{ branch_name }}</a>" </li>	
		{% endif %}
		{% if repo_name and branch_name %}
		<li><a class="ajax" rel="#pages" href="{% url stratus-log repo_name branch_name %}"  >commits</a> </li>

		{% endif %}
{% block git_breadcrumbs %}{% endblock git_breadcrumbs %}
	</ul>
</div>


{% if repo_name and branch_name %}
<div id="project_tools">
	<form method="get" action="{% url stratus-search repo_name branch_name %}" class="serch_form ajax" rel="contents">
		<p>
			<input type="text" name="query" id="id_query" value="{{ query }}" /> 
			<button>SEARCH</button>
			{% csrf_token %}
		</p>
	</form>
	<a href="{% url stratus-undo repo_name branch_name %}" class="undo button ajax" rel="#tool_box" title="undo last commit">undo</a>
	<a href="https://github.com/joyent/node/wiki/modules" id="open_preview" title="open preview" class="button">preview</a>
</div>
{% endif %}


{% endblock breadcrumbs %}



{% block content %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STRATUS_MEDIA_URL }}stratus/js/jquery.ajaxfileupload.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ STRATUS_MEDIA_URL }}stratus/CodeMirror-2.12/lib/codemirror.js"></script>
<script type="text/javascript" src="{{ STRATUS_MEDIA_URL }}stratus/CodeMirror-2.12/lib/runmode.js"></script>
<script type="text/javascript" src="{{ STRATUS_MEDIA_URL }}stratus/CodeMirror-2.12/lib/overlay.js"></script>
<script type="text/javascript" src="{{ STRATUS_MEDIA_URL }}stratus/js/script.js"></script>

<link rel="stylesheet" type="text/css" href="{{ STRATUS_MEDIA_URL }}stratus/css/style.css" />
<link rel="stylesheet" type="text/css" href="{{ STRATUS_MEDIA_URL }}stratus/CodeMirror-2.12/lib/codemirror.css" /> 
<link rel="stylesheet" type="text/css" href="{{ STRATUS_MEDIA_URL }}stratus/css/theme_dark.css" />

<div class="gitter">
	<div id="messages" {% if not msg %} style="display: none;" {% endif %}>
		<a href="#" class="close" title="close">x</a>
		<ul>
		{% for message in msg %}
			<li>{{ message }}</li>
		{% endfor %}
		</ul>
	</div>
{% if branch_name %}
	<p><a href="#" id="toogle_files" class="toggle" rel="#tree">Files:</a></p>
	<div id="working_tree">
{% block git_tree %}{% endblock git_tree %}
	</div>
{% endif %}
	<div id="toolbox">
	</div>

	<div id="console">
		<h4>Console</h4>
		<div class="content">
			<div id="console_output"></div>
			<p>
				<label for="console-input">Command</label>
				<input id="console-input" type="text" />
				<button id="console_enter">ENTER</button>
			</p>
		</div>
	</div>
	
	<div id="main">
		<ul class="tabs"></ul>
		<div id="pages">
			<div class="page">
{% block git_content %}{% endblock git_content %}
			</div><!-- /.page -->
		</div><!-- /.pages -->
	</div><!-- /main -->
</div> <!-- /.gitter -->





{% if repo_name and branch_name %}
<script type="text/javascript">
$(document).ready( function(){
	var REPO = "{{repo_name}}";
	var BRANCH = "{{ branch_name }}";
	var PATH = "{{path}}";
	var STRATUS_MEDIA_URL = "{{ STRATUS_MEDIA_URL }}";

	// ------------------- CONSOLE --------------------
	$("#console_enter").click(function( ){
		var data = {"com":"git status"};
		$('#console_output').load("{% url stratus-consol repo_name %}", data, function() {});
	})

	// ----------------- TREE INIT --------------------
	var tree_path =  {% if path %} '{% url stratus-tree-view repo_name branch_name path %}'
	{% else %} '{% url stratus-tree-view repo_name branch_name "" %}' {% endif %};
	get_page(tree_path, $("#working_tree"));

	//$("#tree").load(tree_path);
})
</script>
{% endif %}	

{% block js %}{% endblock js %}

<script type="text/template" id="url_template">
<div class="page">
<p>
	<input type="text" name="src" value="sssss" >
	<button class="go">GO</button>
</p>
<iframe src="sssss"></iframe>
</div>
</script>


{% endblock content %}